<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

<!--

 <servlet>
    <servlet-name>abc</servlet-name>
    <servlet-class>Vikash.AddServlet<v/servlet-class>

  </servlet>

 <servlet-mapping>
    <servlet-name>abc</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>


    <servlet>
        <servlet-name>rs</servlet-name>
        <servlet-class>vikash.SqServlet</servlet-class>

    </servlet>

    <servlet-mapping>
        <servlet-name>rs</servlet-name>
        <url-pattern>/sq</url-pattern>
    </servlet-mapping>

-->


</web-app>


